## Mothapo Regina - Building an Income Prediction Model
This project aims to create a classifier to determine whether an individual will earn more or less that $50k using the Random Forest Classifier and Decision Tree Classifier. Data is processed using Pyspark.

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=f0270d2ad78c22c00f131a79d43deb13465a3a68be4b9c3402cca0d46be94c07
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
# Import all the necessary modulees
from pyspark.sql import SparkSession
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.mllib.evaluation import MulticlassMetrics
from pyspark.ml.classification import RandomForestClassifier, DecisionTreeClassifier
from pyspark.ml.feature import StringIndexer, VectorAssembler
from pyspark.sql.functions import col

In [3]:
# Start a new session
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Income Prediction').getOrCreate()

In [5]:
spark

In [7]:
# Import The dataset
df = spark.read.csv('/content/income (1).csv', header=True, inferSchema=True,nullValue='?',ignoreTrailingWhiteSpace = True,ignoreLeadingWhiteSpace = True)

df.printSchema()
df.show()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education_years: integer (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital_gain: integer (nullable = true)
 |-- capital_loss: integer (nullable = true)
 |-- hours_per_week: integer (nullable = true)
 |-- citizenship: string (nullable = true)
 |-- income_class: string (nullable = true)

+---+----------------+------+------------+---------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+-------------+------------+
|age|       workclass|weight|   education|education_years|      marital_status|       occupation| relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|  citizenship|income_class|
+---+----------------+------+------------+---------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+-------------+------------+
| 39|       State-gov| 77516|   Bachelors|             13|       Never-married|     Adm-clerical|Not-in-family|             White|  Male|        2174|           0|            40|United-States|       <=50K|
| 50|Self-emp-not-inc| 83311|   Bachelors|             13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            13|United-States|       <=50K|
| 38|         Private|215646|     HS-grad|              9|            Divorced|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            40|United-States|       <=50K|
| 53|         Private|234721|        11th|              7|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|  Male|           0|           0|            40|United-States|       <=50K|
| 28|         Private|338409|   Bachelors|             13|  Married-civ-spouse|   Prof-specialty|         Wife|             Black|Female|           0|           0|            40|         Cuba|       <=50K|
| 37|         Private|284582|     Masters|             14|  Married-civ-spouse|  Exec-managerial|         Wife|             White|Female|           0|           0|            40|United-States|       <=50K|
| 49|         Private|160187|         9th|              5|Married-spouse-ab...|    Other-service|Not-in-family|             Black|Female|           0|           0|            16|      Jamaica|       <=50K|
| 52|Self-emp-not-inc|209642|     HS-grad|              9|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            45|United-States|        >50K|
| 31|         Private| 45781|     Masters|             14|       Never-married|   Prof-specialty|Not-in-family|             White|Female|       14084|           0|            50|United-States|        >50K|
| 42|         Private|159449|   Bachelors|             13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        5178|           0|            40|United-States|        >50K|
| 37|         Private|280464|Some-college|             10|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|  Male|           0|           0|            80|United-States|        >50K|
| 30|       State-gov|141297|   Bachelors|             13|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|        India|        >50K|
| 23|         Private|122272|   Bachelors|             13|       Never-married|     Adm-clerical|    Own-child|             White|Female|           0|           0|            30|United-States|       <=50K|
| 32|         Private|205019|  Assoc-acdm|             12|       Never-married|            Sales|Not-in-family|             Black|  Male|           0|           0|            50|United-States|       <=50K|
| 40|         Private|121772|   Assoc-voc|             11|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|         NULL|        >50K|
| 34|         Private|245487|     7th-8th|              4|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|  Male|           0|           0|            45|       Mexico|       <=50K|
| 25|Self-emp-not-inc|176756|     HS-grad|              9|       Never-married|  Farming-fishing|    Own-child|             White|  Male|           0|           0|            35|United-States|       <=50K|
| 32|         Private|186824|     HS-grad|              9|       Never-married|Machine-op-inspct|    Unmarried|             White|  Male|           0|           0|            40|United-States|       <=50K|
| 38|         Private| 28887|        11th|              7|  Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            50|United-States|       <=50K|
| 43|Self-emp-not-inc|292175|     Masters|             14|            Divorced|  Exec-managerial|    Unmarried|             White|Female|           0|           0|            45|United-States|        >50K|
+---+----------------+------+------------+---------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+-------------+------------+
only showing top 20 rows

### Pre- Processing the Dataset
The Total number of records in the file is 32561

In [8]:
# Use the describe method to track how many columns have missing values
df.describe().show()

+-------+------------------+-----------+------------------+------------+-----------------+--------------+----------------+------------+------------------+------+------------------+----------------+------------------+-----------+------------+
|summary|               age|  workclass|            weight|   education|  education_years|marital_status|      occupation|relationship|              race|   sex|      capital_gain|    capital_loss|    hours_per_week|citizenship|income_class|
+-------+------------------+-----------+------------------+------------+-----------------+--------------+----------------+------------+------------------+------+------------------+----------------+------------------+-----------+------------+
|  count|             32561|      30725|             32561|       32561|            32561|         32561|           30718|       32561|             32561| 32561|             32561|           32561|             32561|      31978|       32561|
|   mean| 38.58164675532078|       NULL|189778.36651208502|        NULL| 10.0806793403151|          NULL|            NULL|        NULL|              NULL|  NULL|1077.6488437087312| 87.303829734959|40.437455852092995|       NULL|        NULL|
| stddev|13.640432553581356|       NULL|105549.97769702227|        NULL|2.572720332067397|          NULL|            NULL|        NULL|              NULL|  NULL| 7385.292084840354|402.960218649002|12.347428681731838|       NULL|        NULL|
|    min|                17|Federal-gov|             12285|        10th|                1|      Divorced|    Adm-clerical|     Husband|Amer-Indian-Eskimo|Female|                 0|               0|                 1|   Cambodia|       <=50K|
|    max|                90|Without-pay|           1484705|Some-college|               16|       Widowed|Transport-moving|        Wife|             White|  Male|             99999|            4356|                99| Yugoslavia|        >50K|
+-------+------------------+-----------+------------------+------------+-----------------+--------------+----------------+------------+------------------+------+------------------+----------------+------------------+-----------+------------+

The columns that have one or more missing values are workclass, occupation and citizenship. All the missing values are dropped below.

In [ ]:
# Display the columns
df.columns

['age',
 'workclass',
 'weight',
 'education',
 'education_years',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'citizenship',
 'income_class']

In [9]:
# Finding duplicates in the dataset
duplicates_df = df.groupBy(df.columns).count().filter(col('count')>1)
duplicates_df.show()

+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+-------------+------------+-----+
|age|       workclass|weight|   education|education_years|    marital_status|       occupation| relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|  citizenship|income_class|count|
+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+-------------+------------+-----+
| 39|         Private| 30916|     HS-grad|              9|Married-civ-spouse|     Craft-repair|      Husband|             White|  Male|           0|           0|            40|United-States|       <=50K|    2|
| 28|         Private|274679|     Masters|             14|     Never-married|   Prof-specialty|Not-in-family|             White|  Male|           0|           0|            50|United-States|       <=50K|    2|
| 42|         Private|204235|Some-college|             10|Married-civ-spouse|   Prof-specialty|      Husband|             White|  Male|           0|           0|            40|United-States|        >50K|    2|
| 19|         Private| 97261|     HS-grad|              9|     Never-married|  Farming-fishing|Not-in-family|             White|  Male|           0|           0|            40|United-States|       <=50K|    2|
| 19|         Private|138153|Some-college|             10|     Never-married|     Adm-clerical|    Own-child|             White|Female|           0|           0|            10|United-States|       <=50K|    2|
| 27|         Private|255582|     HS-grad|              9|     Never-married|Machine-op-inspct|Not-in-family|             White|Female|           0|           0|            40|United-States|       <=50K|    2|
| 19|         Private|146679|Some-college|             10|     Never-married|  Exec-managerial|    Own-child|             Black|  Male|           0|           0|            30|United-States|       <=50K|    2|
| 49|Self-emp-not-inc| 43479|Some-college|             10|Married-civ-spouse|     Craft-repair|      Husband|             White|  Male|           0|           0|            40|United-States|       <=50K|    2|
| 38|         Private|207202|     HS-grad|              9|Married-civ-spouse|Machine-op-inspct|      Husband|             White|  Male|           0|           0|            48|United-States|        >50K|    2|
| 30|         Private|144593|     HS-grad|              9|     Never-married|    Other-service|Not-in-family|             Black|  Male|           0|           0|            40|         NULL|       <=50K|    2|
| 49|         Private| 31267|     7th-8th|              4|Married-civ-spouse|     Craft-repair|      Husband|             White|  Male|           0|           0|            40|United-States|       <=50K|    2|
| 19|         Private|251579|Some-college|             10|     Never-married|    Other-service|    Own-child|             White|  Male|           0|           0|            14|United-States|       <=50K|    2|
| 25|         Private|308144|   Bachelors|             13|     Never-married|     Craft-repair|Not-in-family|             White|  Male|           0|           0|            40|       Mexico|       <=50K|    2|
| 23|         Private|240137|     5th-6th|              3|     Never-married|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            55|       Mexico|       <=50K|    2|
| 20|         Private|107658|Some-college|             10|     Never-married|     Tech-support|Not-in-family|             White|Female|           0|           0|            10|United-States|       <=50K|    2|
| 25|         Private|195994|     1st-4th|              2|     Never-married|  Priv-house-serv|Not-in-family|             White|Female|           0|           0|            40|    Guatemala|       <=50K|    3|
| 46|         Private|173243|     HS-grad|              9|Married-civ-spouse|     Craft-repair|      Husband|             White|  Male|           0|           0|            40|United-States|       <=50K|    2|
| 21|         Private|243368|   Preschool|              1|     Never-married|  Farming-fishing|Not-in-family|             White|  Male|           0|           0|            50|       Mexico|       <=50K|    2|
| 90|         Private| 52386|Some-college|             10|     Never-married|    Other-service|Not-in-family|Asian-Pac-Islander|  Male|           0|           0|            35|United-States|       <=50K|    2|
| 21|         Private|250051|Some-college|             10|     Never-married|   Prof-specialty|    Own-child|             White|Female|           0|           0|            10|United-States|       <=50K|    2|
+---+----------------+------+------------+---------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+-------------+------------+-----+
only showing top 20 rows

In [10]:
# Removing duplicates
df_2 = df.dropDuplicates()
duplicates = df.count() - df_2.count()
print('The number of duplicated rows in the dataset is {}.'.format(duplicates))

The number of duplicated rows in the dataset is 24.

In [12]:
#Remove rows with missing values
df_final= df_2.na.drop()

In [13]:
#Display the final data with no missing values and duplicates
df_final.show()

+---+------------+------+------------+---------------+------------------+-----------------+--------------+------------------+------+------------+------------+--------------+-------------+------------+
|age|   workclass|weight|   education|education_years|    marital_status|       occupation|  relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|  citizenship|income_class|
+---+------------+------+------------+---------------+------------------+-----------------+--------------+------------------+------+------------+------------+--------------+-------------+------------+
| 41| Federal-gov|130760|   Bachelors|             13|Married-civ-spouse|     Tech-support|       Husband|             White|  Male|           0|           0|            24|United-States|       <=50K|
| 54|Self-emp-inc|125417|     7th-8th|              4|Married-civ-spouse|Machine-op-inspct|       Husband|             White|  Male|           0|           0|            40|United-States|        >50K|
| 44|     Private|116632|Some-college|             10|Married-civ-spouse|   Prof-specialty|       Husband|             White|  Male|           0|           0|            40|United-States|        >50K|
| 44|     Private|109339|        11th|              7|          Divorced|Machine-op-inspct|     Unmarried|             Other|Female|           0|           0|            46|  Puerto-Rico|       <=50K|
| 27|     Private|158156|   Doctorate|             16|     Never-married|   Prof-specialty| Not-in-family|             White|Female|           0|           0|            70|United-States|       <=50K|
| 36|     Private|117312|  Assoc-acdm|             12|          Divorced|     Tech-support| Not-in-family|             White|Female|           0|           0|            60|United-States|       <=50K|
| 38|   Local-gov|165799|Some-college|             10|     Never-married|    Other-service| Not-in-family|             White|  Male|           0|           0|            12|United-States|       <=50K|
| 32|     Private|180871|   Assoc-voc|             11|          Divorced|            Sales| Not-in-family|             White|  Male|           0|           0|            50|United-States|        >50K|
| 43|   Local-gov|160574|   Bachelors|             13|Married-civ-spouse|     Craft-repair|       Husband|             White|  Male|           0|           0|            40|United-States|       <=50K|
| 54|     Private|177927|     Masters|             14|Married-civ-spouse|   Prof-specialty|       Husband|             White|  Male|           0|           0|            60|United-States|       <=50K|
| 42|   Local-gov|445382|   Bachelors|             13|         Separated|  Exec-managerial| Not-in-family|             White|  Male|           0|           0|            45|United-States|        >50K|
| 51|   Local-gov|133050|Some-college|             10|Married-civ-spouse|  Exec-managerial|       Husband|             Black|  Male|           0|           0|            40|United-States|        >50K|
| 43|Self-emp-inc|172826|Some-college|             10|Married-civ-spouse|            Sales|       Husband|             White|  Male|       99999|           0|            55|United-States|        >50K|
| 34|     Private|209317|     HS-grad|              9|Married-civ-spouse| Transport-moving|       Husband|             White|  Male|           0|           0|            40|  Puerto-Rico|       <=50K|
| 54|     Private|183611|Some-college|             10|Married-civ-spouse|            Sales|       Husband|             White|  Male|        3137|           0|            50|United-States|       <=50K|
| 42|     Private|191712|   Bachelors|             13|          Divorced|            Sales| Not-in-family|             White|  Male|           0|        1590|            40|United-States|       <=50K|
| 50|     Private|221336|     HS-grad|              9|          Divorced|     Adm-clerical|Other-relative|Asian-Pac-Islander|Female|           0|           0|            40|  Philippines|       <=50K|
| 32|     Private|194426|   Bachelors|             13|Married-civ-spouse|     Tech-support|       Husband|             White|  Male|       15024|           0|            40|United-States|        >50K|
| 35|     Private| 25955|        11th|              7|     Never-married|    Other-service|     Unmarried|Amer-Indian-Eskimo|  Male|           0|           0|            40|United-States|       <=50K|
| 26|     Private|152035|     HS-grad|              9|     Never-married|     Adm-clerical|     Own-child|             White|Female|           0|           0|            40|United-States|       <=50K|
+---+------------+------+------------+---------------+------------------+-----------------+--------------+------------------+------+------------+------------+--------------+-------------+------------+
only showing top 20 rows

In [14]:
#Using the describe method to see the count of rows remaining (30162 records)
df_final.describe().show()

+-------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+-----------+------------+
|summary|               age|  workclass|            weight|   education|   education_years|marital_status|      occupation|relationship|              race|   sex|      capital_gain|     capital_loss|    hours_per_week|citizenship|income_class|
+-------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+-----------+------------+
|  count|             30139|      30139|             30139|       30139|             30139|         30139|           30139|       30139|             30139| 30139|             30139|            30139|             30139|      30139|       30139|
|   mean| 38.44172003052523|       NULL|189795.02597962774|        NULL|10.122532267162148|          NULL|            NULL|        NULL|              NULL|  NULL|1092.8412024287468|88.43992833206144|40.934702544875414|       NULL|        NULL|
| stddev|13.131425971315343|       NULL| 105658.6243405504|        NULL|2.5487384526126755|          NULL|            NULL|        NULL|              NULL|  NULL| 7409.110596312442| 404.445238762533|11.978753137561904|       NULL|        NULL|
|    min|                17|Federal-gov|             13769|        10th|                 1|      Divorced|    Adm-clerical|     Husband|Amer-Indian-Eskimo|Female|                 0|                0|                 1|   Cambodia|       <=50K|
|    max|                90|Without-pay|           1484705|Some-college|                16|       Widowed|Transport-moving|        Wife|             White|  Male|             99999|             4356|                99| Yugoslavia|        >50K|
+-------+------------------+-----------+------------------+------------+------------------+--------------+----------------+------------+------------------+------+------------------+-----------------+------------------+-----------+------------+

In [15]:
# Indexing categorical features in the dataset

index = StringIndexer(
    inputCols=['workclass','education','marital_status','occupation','relationship','race','sex','citizenship', 'income_class'],
    outputCols = ['{}_indexed'.format(column) for column in ['workclass','education','marital_status','occupation','relationship','race','sex','citizenship', 'income_class']]
    )

df_4 = index.fit(df_final).transform(df_final)
df_4.show()

+---+------------+------+------------+---------------+------------------+-----------------+--------------+------------------+------+------------+------------+--------------+-------------+------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+-------------------+--------------------+
|age|   workclass|weight|   education|education_years|    marital_status|       occupation|  relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|  citizenship|income_class|workclass_indexed|education_indexed|marital_status_indexed|occupation_indexed|relationship_indexed|race_indexed|sex_indexed|citizenship_indexed|income_class_indexed|
+---+------------+------+------------+---------------+------------------+-----------------+--------------+------------------+------+------------+------------+--------------+-------------+------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+-------------------+--------------------+
| 41| Federal-gov|130760|   Bachelors|             13|Married-civ-spouse|     Tech-support|       Husband|             White|  Male|           0|           0|            24|United-States|       <=50K|              5.0|              2.0|                   0.0|              10.0|                 0.0|         0.0|        0.0|                0.0|                 0.0|
| 54|Self-emp-inc|125417|     7th-8th|              4|Married-civ-spouse|Machine-op-inspct|       Husband|             White|  Male|           0|           0|            40|United-States|        >50K|              4.0|              8.0|                   0.0|               6.0|                 0.0|         0.0|        0.0|                0.0|                 1.0|
| 44|     Private|116632|Some-college|             10|Married-civ-spouse|   Prof-specialty|       Husband|             White|  Male|           0|           0|            40|United-States|        >50K|              0.0|              1.0|                   0.0|               0.0|                 0.0|         0.0|        0.0|                0.0|                 1.0|
| 44|     Private|109339|        11th|              7|          Divorced|Machine-op-inspct|     Unmarried|             Other|Female|           0|           0|            46|  Puerto-Rico|       <=50K|              0.0|              5.0|                   2.0|               6.0|                 3.0|         4.0|        1.0|                4.0|                 0.0|
| 27|     Private|158156|   Doctorate|             16|     Never-married|   Prof-specialty| Not-in-family|             White|Female|           0|           0|            70|United-States|       <=50K|              0.0|             12.0|                   1.0|               0.0|                 1.0|         0.0|        1.0|                0.0|                 0.0|
| 36|     Private|117312|  Assoc-acdm|             12|          Divorced|     Tech-support| Not-in-family|             White|Female|           0|           0|            60|United-States|       <=50K|              0.0|              6.0|                   2.0|              10.0|                 1.0|         0.0|        1.0|                0.0|                 0.0|
| 38|   Local-gov|165799|Some-college|             10|     Never-married|    Other-service| Not-in-family|             White|  Male|           0|           0|            12|United-States|       <=50K|              2.0|              1.0|                   1.0|               5.0|                 1.0|         0.0|        0.0|                0.0|                 0.0|
| 32|     Private|180871|   Assoc-voc|             11|          Divorced|            Sales| Not-in-family|             White|  Male|           0|           0|            50|United-States|        >50K|              0.0|              4.0|                   2.0|               4.0|                 1.0|         0.0|        0.0|                0.0|                 1.0|
| 43|   Local-gov|160574|   Bachelors|             13|Married-civ-spouse|     Craft-repair|       Husband|             White|  Male|           0|           0|            40|United-States|       <=50K|              2.0|              2.0|                   0.0|               1.0|                 0.0|         0.0|        0.0|                0.0|                 0.0|
| 54|     Private|177927|     Masters|             14|Married-civ-spouse|   Prof-specialty|       Husband|             White|  Male|           0|           0|            60|United-States|       <=50K|              0.0|              3.0|                   0.0|               0.0|                 0.0|         0.0|        0.0|                0.0|                 0.0|
| 42|   Local-gov|445382|   Bachelors|             13|         Separated|  Exec-managerial| Not-in-family|             White|  Male|           0|           0|            45|United-States|        >50K|              2.0|              2.0|                   3.0|               2.0|                 1.0|         0.0|        0.0|                0.0|                 1.0|
| 51|   Local-gov|133050|Some-college|             10|Married-civ-spouse|  Exec-managerial|       Husband|             Black|  Male|           0|           0|            40|United-States|        >50K|              2.0|              1.0|                   0.0|               2.0|                 0.0|         1.0|        0.0|                0.0|                 1.0|
| 43|Self-emp-inc|172826|Some-college|             10|Married-civ-spouse|            Sales|       Husband|             White|  Male|       99999|           0|            55|United-States|        >50K|              4.0|              1.0|                   0.0|               4.0|                 0.0|         0.0|        0.0|                0.0|                 1.0|
| 34|     Private|209317|     HS-grad|              9|Married-civ-spouse| Transport-moving|       Husband|             White|  Male|           0|           0|            40|  Puerto-Rico|       <=50K|              0.0|              0.0|                   0.0|               7.0|                 0.0|         0.0|        0.0|                4.0|                 0.0|
| 54|     Private|183611|Some-college|             10|Married-civ-spouse|            Sales|       Husband|             White|  Male|        3137|           0|            50|United-States|       <=50K|              0.0|              1.0|                   0.0|               4.0|                 0.0|         0.0|        0.0|                0.0|                 0.0|
| 42|     Private|191712|   Bachelors|             13|          Divorced|            Sales| Not-in-family|             White|  Male|           0|        1590|            40|United-States|       <=50K|              0.0|              2.0|                   2.0|               4.0|                 1.0|         0.0|        0.0|                0.0|                 0.0|
| 50|     Private|221336|     HS-grad|              9|          Divorced|     Adm-clerical|Other-relative|Asian-Pac-Islander|Female|           0|           0|            40|  Philippines|       <=50K|              0.0|              0.0|                   2.0|               3.0|                 5.0|         2.0|        1.0|                2.0|                 0.0|
| 32|     Private|194426|   Bachelors|             13|Married-civ-spouse|     Tech-support|       Husband|             White|  Male|       15024|           0|            40|United-States|        >50K|              0.0|              2.0|                   0.0|              10.0|                 0.0|         0.0|        0.0|                0.0|                 1.0|
| 35|     Private| 25955|        11th|              7|     Never-married|    Other-service|     Unmarried|Amer-Indian-Eskimo|  Male|           0|           0|            40|United-States|       <=50K|              0.0|              5.0|                   1.0|               5.0|                 3.0|         3.0|        0.0|                0.0|                 0.0|
| 26|     Private|152035|     HS-grad|              9|     Never-married|     Adm-clerical|     Own-child|             White|Female|           0|           0|            40|United-States|       <=50K|              0.0|              0.0|                   1.0|               3.0|                 2.0|         0.0|        1.0|                0.0|                 0.0|
+---+------------+------+------------+---------------+------------------+-----------------+--------------+------------------+------+------------+------------+--------------+-------------+------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+-------------------+--------------------+
only showing top 20 rows

In [16]:
# The indexed features

indexed_df = df_4.select(
    'age','workclass_indexed','weight', 'education_indexed', 'education_years', 'marital_status_indexed', 'occupation_indexed',
    'relationship_indexed', 'race_indexed', 'sex_indexed', 'capital_gain', 'capital_loss', 'hours_per_week', 'citizenship_indexed', 'income_class_indexed'
                             ).show()

+---+-----------------+------+-----------------+---------------+----------------------+------------------+--------------------+------------+-----------+------------+------------+--------------+-------------------+--------------------+
|age|workclass_indexed|weight|education_indexed|education_years|marital_status_indexed|occupation_indexed|relationship_indexed|race_indexed|sex_indexed|capital_gain|capital_loss|hours_per_week|citizenship_indexed|income_class_indexed|
+---+-----------------+------+-----------------+---------------+----------------------+------------------+--------------------+------------+-----------+------------+------------+--------------+-------------------+--------------------+
| 41|              5.0|130760|              2.0|             13|                   0.0|              10.0|                 0.0|         0.0|        0.0|           0|           0|            24|                0.0|                 0.0|
| 54|              4.0|125417|              8.0|              4|                   0.0|               6.0|                 0.0|         0.0|        0.0|           0|           0|            40|                0.0|                 1.0|
| 44|              0.0|116632|              1.0|             10|                   0.0|               0.0|                 0.0|         0.0|        0.0|           0|           0|            40|                0.0|                 1.0|
| 44|              0.0|109339|              5.0|              7|                   2.0|               6.0|                 3.0|         4.0|        1.0|           0|           0|            46|                4.0|                 0.0|
| 27|              0.0|158156|             12.0|             16|                   1.0|               0.0|                 1.0|         0.0|        1.0|           0|           0|            70|                0.0|                 0.0|
| 36|              0.0|117312|              6.0|             12|                   2.0|              10.0|                 1.0|         0.0|        1.0|           0|           0|            60|                0.0|                 0.0|
| 38|              2.0|165799|              1.0|             10|                   1.0|               5.0|                 1.0|         0.0|        0.0|           0|           0|            12|                0.0|                 0.0|
| 32|              0.0|180871|              4.0|             11|                   2.0|               4.0|                 1.0|         0.0|        0.0|           0|           0|            50|                0.0|                 1.0|
| 43|              2.0|160574|              2.0|             13|                   0.0|               1.0|                 0.0|         0.0|        0.0|           0|           0|            40|                0.0|                 0.0|
| 54|              0.0|177927|              3.0|             14|                   0.0|               0.0|                 0.0|         0.0|        0.0|           0|           0|            60|                0.0|                 0.0|
| 42|              2.0|445382|              2.0|             13|                   3.0|               2.0|                 1.0|         0.0|        0.0|           0|           0|            45|                0.0|                 1.0|
| 51|              2.0|133050|              1.0|             10|                   0.0|               2.0|                 0.0|         1.0|        0.0|           0|           0|            40|                0.0|                 1.0|
| 43|              4.0|172826|              1.0|             10|                   0.0|               4.0|                 0.0|         0.0|        0.0|       99999|           0|            55|                0.0|                 1.0|
| 34|              0.0|209317|              0.0|              9|                   0.0|               7.0|                 0.0|         0.0|        0.0|           0|           0|            40|                4.0|                 0.0|
| 54|              0.0|183611|              1.0|             10|                   0.0|               4.0|                 0.0|         0.0|        0.0|        3137|           0|            50|                0.0|                 0.0|
| 42|              0.0|191712|              2.0|             13|                   2.0|               4.0|                 1.0|         0.0|        0.0|           0|        1590|            40|                0.0|                 0.0|
| 50|              0.0|221336|              0.0|              9|                   2.0|               3.0|                 5.0|         2.0|        1.0|           0|           0|            40|                2.0|                 0.0|
| 32|              0.0|194426|              2.0|             13|                   0.0|              10.0|                 0.0|         0.0|        0.0|       15024|           0|            40|                0.0|                 1.0|
| 35|              0.0| 25955|              5.0|              7|                   1.0|               5.0|                 3.0|         3.0|        0.0|           0|           0|            40|                0.0|                 0.0|
| 26|              0.0|152035|              0.0|              9|                   1.0|               3.0|                 2.0|         0.0|        1.0|           0|           0|            40|                0.0|                 0.0|
+---+-----------------+------+-----------------+---------------+----------------------+------------------+--------------------+------------+-----------+------------+------------+--------------+-------------------+--------------------+
only showing top 20 rows

In [17]:
# Creating a feature vector

vec = VectorAssembler(
    inputCols= ['age','workclass_indexed','weight', 'education_indexed', 'education_years', 'marital_status_indexed', 'occupation_indexed',
    'relationship_indexed', 'race_indexed', 'sex_indexed', 'capital_gain', 'capital_loss', 'hours_per_week', 'citizenship_indexed']
               , outputCol= 'Feature Vector'
                      )

final_df = vec.transform(df_4)


# The final preprocessed dataset

final_df.show()

+---+------------+------+------------+---------------+------------------+-----------------+--------------+------------------+------+------------+------------+--------------+-------------+------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+-------------------+--------------------+--------------------+
|age|   workclass|weight|   education|education_years|    marital_status|       occupation|  relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|  citizenship|income_class|workclass_indexed|education_indexed|marital_status_indexed|occupation_indexed|relationship_indexed|race_indexed|sex_indexed|citizenship_indexed|income_class_indexed|      Feature Vector|
+---+------------+------+------------+---------------+------------------+-----------------+--------------+------------------+------+------------+------------+--------------+-------------+------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+-------------------+--------------------+--------------------+
| 41| Federal-gov|130760|   Bachelors|             13|Married-civ-spouse|     Tech-support|       Husband|             White|  Male|           0|           0|            24|United-States|       <=50K|              5.0|              2.0|                   0.0|              10.0|                 0.0|         0.0|        0.0|                0.0|                 0.0|(14,[0,1,2,3,4,6,...|
| 54|Self-emp-inc|125417|     7th-8th|              4|Married-civ-spouse|Machine-op-inspct|       Husband|             White|  Male|           0|           0|            40|United-States|        >50K|              4.0|              8.0|                   0.0|               6.0|                 0.0|         0.0|        0.0|                0.0|                 1.0|(14,[0,1,2,3,4,6,...|
| 44|     Private|116632|Some-college|             10|Married-civ-spouse|   Prof-specialty|       Husband|             White|  Male|           0|           0|            40|United-States|        >50K|              0.0|              1.0|                   0.0|               0.0|                 0.0|         0.0|        0.0|                0.0|                 1.0|(14,[0,2,3,4,12],...|
| 44|     Private|109339|        11th|              7|          Divorced|Machine-op-inspct|     Unmarried|             Other|Female|           0|           0|            46|  Puerto-Rico|       <=50K|              0.0|              5.0|                   2.0|               6.0|                 3.0|         4.0|        1.0|                4.0|                 0.0|[44.0,0.0,109339....|
| 27|     Private|158156|   Doctorate|             16|     Never-married|   Prof-specialty| Not-in-family|             White|Female|           0|           0|            70|United-States|       <=50K|              0.0|             12.0|                   1.0|               0.0|                 1.0|         0.0|        1.0|                0.0|                 0.0|(14,[0,2,3,4,5,7,...|
| 36|     Private|117312|  Assoc-acdm|             12|          Divorced|     Tech-support| Not-in-family|             White|Female|           0|           0|            60|United-States|       <=50K|              0.0|              6.0|                   2.0|              10.0|                 1.0|         0.0|        1.0|                0.0|                 0.0|[36.0,0.0,117312....|
| 38|   Local-gov|165799|Some-college|             10|     Never-married|    Other-service| Not-in-family|             White|  Male|           0|           0|            12|United-States|       <=50K|              2.0|              1.0|                   1.0|               5.0|                 1.0|         0.0|        0.0|                0.0|                 0.0|[38.0,2.0,165799....|
| 32|     Private|180871|   Assoc-voc|             11|          Divorced|            Sales| Not-in-family|             White|  Male|           0|           0|            50|United-States|        >50K|              0.0|              4.0|                   2.0|               4.0|                 1.0|         0.0|        0.0|                0.0|                 1.0|(14,[0,2,3,4,5,6,...|
| 43|   Local-gov|160574|   Bachelors|             13|Married-civ-spouse|     Craft-repair|       Husband|             White|  Male|           0|           0|            40|United-States|       <=50K|              2.0|              2.0|                   0.0|               1.0|                 0.0|         0.0|        0.0|                0.0|                 0.0|(14,[0,1,2,3,4,6,...|
| 54|     Private|177927|     Masters|             14|Married-civ-spouse|   Prof-specialty|       Husband|             White|  Male|           0|           0|            60|United-States|       <=50K|              0.0|              3.0|                   0.0|               0.0|                 0.0|         0.0|        0.0|                0.0|                 0.0|(14,[0,2,3,4,12],...|
| 42|   Local-gov|445382|   Bachelors|             13|         Separated|  Exec-managerial| Not-in-family|             White|  Male|           0|           0|            45|United-States|        >50K|              2.0|              2.0|                   3.0|               2.0|                 1.0|         0.0|        0.0|                0.0|                 1.0|[42.0,2.0,445382....|
| 51|   Local-gov|133050|Some-college|             10|Married-civ-spouse|  Exec-managerial|       Husband|             Black|  Male|           0|           0|            40|United-States|        >50K|              2.0|              1.0|                   0.0|               2.0|                 0.0|         1.0|        0.0|                0.0|                 1.0|(14,[0,1,2,3,4,6,...|
| 43|Self-emp-inc|172826|Some-college|             10|Married-civ-spouse|            Sales|       Husband|             White|  Male|       99999|           0|            55|United-States|        >50K|              4.0|              1.0|                   0.0|               4.0|                 0.0|         0.0|        0.0|                0.0|                 1.0|(14,[0,1,2,3,4,6,...|
| 34|     Private|209317|     HS-grad|              9|Married-civ-spouse| Transport-moving|       Husband|             White|  Male|           0|           0|            40|  Puerto-Rico|       <=50K|              0.0|              0.0|                   0.0|               7.0|                 0.0|         0.0|        0.0|                4.0|                 0.0|(14,[0,2,4,6,12,1...|
| 54|     Private|183611|Some-college|             10|Married-civ-spouse|            Sales|       Husband|             White|  Male|        3137|           0|            50|United-States|       <=50K|              0.0|              1.0|                   0.0|               4.0|                 0.0|         0.0|        0.0|                0.0|                 0.0|(14,[0,2,3,4,6,10...|
| 42|     Private|191712|   Bachelors|             13|          Divorced|            Sales| Not-in-family|             White|  Male|           0|        1590|            40|United-States|       <=50K|              0.0|              2.0|                   2.0|               4.0|                 1.0|         0.0|        0.0|                0.0|                 0.0|[42.0,0.0,191712....|
| 50|     Private|221336|     HS-grad|              9|          Divorced|     Adm-clerical|Other-relative|Asian-Pac-Islander|Female|           0|           0|            40|  Philippines|       <=50K|              0.0|              0.0|                   2.0|               3.0|                 5.0|         2.0|        1.0|                2.0|                 0.0|[50.0,0.0,221336....|
| 32|     Private|194426|   Bachelors|             13|Married-civ-spouse|     Tech-support|       Husband|             White|  Male|       15024|           0|            40|United-States|        >50K|              0.0|              2.0|                   0.0|              10.0|                 0.0|         0.0|        0.0|                0.0|                 1.0|(14,[0,2,3,4,6,10...|
| 35|     Private| 25955|        11th|              7|     Never-married|    Other-service|     Unmarried|Amer-Indian-Eskimo|  Male|           0|           0|            40|United-States|       <=50K|              0.0|              5.0|                   1.0|               5.0|                 3.0|         3.0|        0.0|                0.0|                 0.0|[35.0,0.0,25955.0...|
| 26|     Private|152035|     HS-grad|              9|     Never-married|     Adm-clerical|     Own-child|             White|Female|           0|           0|            40|United-States|       <=50K|              0.0|              0.0|                   1.0|               3.0|                 2.0|         0.0|        1.0|                0.0|                 0.0|(14,[0,2,4,5,6,7,...|
+---+------------+------+------------+---------------+------------------+-----------------+--------------+------------------+------+------------+------------+--------------+-------------+------------+-----------------+-----------------+----------------------+------------------+--------------------+------------+-----------+-------------------+--------------------+--------------------+
only showing top 20 rows

In [18]:
# Splitting the dataset into 70% training and 30% testing data

train, test = final_df.randomSplit([.70, .30])
print('Train Size:', train.count())
print('Test Size:', test.count())

Train Size: 21189
Test Size: 8950

## RANDOM FOREST CLASSIFIER

In [19]:
# Creating the Random Forest Classifier
rf = RandomForestClassifier(featuresCol='Feature Vector', labelCol='income_class_indexed', maxBins=50)
model_1 = rf.fit(train)
pred_income = model_1.transform(test)

In [20]:

# Creating a Confusion Matrix
preds = pred_income.select(['prediction', 'income_class_indexed'])
metric = MulticlassMetrics(preds.rdd.map(tuple))
confusion_matrix = metric.confusionMatrix().toArray()
print('Random Forest Confusion Matrix:', '\n', confusion_matrix)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:158: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

Random Forest Confusion Matrix:
 [[6502.  238.]
 [1130. 1080.]]

In [21]:
# Accuracy of the Random Forest Classifier

evaluator = MulticlassClassificationEvaluator(labelCol='income_class_indexed', predictionCol='prediction')
accuracy = evaluator.evaluate(pred_income)
print('The accuracy of the Random Forest Classifier is {}'.format(accuracy))

The accuracy of the Random Forest Classifier is 0.8325713710735443

### Decision Tree Classifier

In [22]:
# Creating the Decision Tree Classifier
dt = DecisionTreeClassifier(featuresCol='Feature Vector', labelCol='income_class_indexed', maxBins=50)
model_2 = dt.fit(train)
pred_income_2 = model_2.transform(test)

In [23]:
# Creating the confusion matrix
preds_2 = pred_income_2.select(['prediction', 'income_class_indexed'])
metric = MulticlassMetrics(preds_2.rdd.map(tuple))
confusion_matrix_2 = metric.confusionMatrix().toArray()
print('Decision Tree Confusion Matrix:','\n', confusion_matrix_2)

/usr/local/lib/python3.10/dist-packages/pyspark/sql/context.py:158: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

Decision Tree Confusion Matrix:
 [[6305.  435.]
 [ 959. 1251.]]

In [24]:
# Accuracy of the Decision Classifier

evaluator_2 = MulticlassClassificationEvaluator(predictionCol='prediction', labelCol='income_class_indexed')
accuracy_2 = evaluator_2.evaluate(pred_income_2)
print('The accuracy of the Decision Tree Classifier is {}'.format(accuracy_2))

The accuracy of the Decision Tree Classifier is 0.8366855764915432